Django==5.0.7
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.4.0
django-filter==24.2
django-storages==1.14.4
whitenoise==6.7.0
boto3==1.34.144
psycopg==3.3.3
psycopg-binary==3.3.3
PyJWT==2.12.1
groq
python-dotenv
gunicorn
psycopg2-binary
whitenoise